@font-face {
  font-family: "geometriabold";
  src: url("../fonts/geometria-bold-webfont.woff2") format("woff2"),
    url("../fonts/geometria-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geometriaregular";
  src: url("../fonts/geometria-webfont.woff2") format("woff2"),
    url("../fonts/geometria-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "geometrialight";
	src: url("../fonts/Geometria-Light.eot");
	src: url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Geometria-Light.woff") format("woff"),
       url("../fonts/Geometria-Light.woff2") format("woff2"),
			 url("../fonts/Geometria-Light.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

body{
  font: 14px "Open Sans", sans-serif;
  background-color: #f5f9ff;
  color: #333;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #3a96ff;
/*     text-decoration: underline; */
    cursor: pointer;
    &:hover,
    &:focus {
        color: #ff3333;
/*         text-decoration: none; */
      text-decoration: underline;
    }
    &:visited {
        color: #65beff;
        text-decoration: underline;
    }
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    color: #333333;
}
h1 {
  font: 32px "geometrialight", sans-serif;
  font-weight: 300;
  margin: 0 0 15px;
}
h3 {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
h4{
  font: 21px "geometriabold", sans-serif;
  margin: 0 0 20px;
}
hr {
    border-color: #ebebeb;
}
label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #191919;
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 10px;
}
