#page_header{
  background-color: #333;
  margin-bottom: 30px;
}
#rightbar{
  position: fixed;
  z-index: 5;
  background-color: #fff;
  right: -460px;
  bottom: 0;
  width: 460px;
  @extend .transition02s;
  .overview{
    padding: 0 25px 0 55px;
  }
  &.visible{
    right: 0;
  }
}
#fill{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 48, 61, 0.6);
  visibility: hidden;
  opacity: 0;
  @extend .transition02s;
  &.visible{
    opacity: 1;
    visibility: visible;
  }
}
