<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AN</title>

	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="AN">
	<meta property="og:description" content="AN description">
	<meta property="og:keywords" content="AN keywords">
	<meta property="og:image" content="....">
	<meta content="no" name="msapplication-tap-highlight">

	<link rel="image_src" href="...">
	<link rel="shortcut icon" href="">
	<link rel="apple-touch-icon" sizes="120x120" href="">
	<link rel="stylesheet" href="css/app.css">
</head>