<header id="page_header">
	<div class="top_line">
		<div class="logo flex-item">
			<a href="/"><img src="images/logo.png" class="logo-img" alt="CRM"></a>
		</div>
		<div class="menu-wrap">
			<ul class="main_menu clearfix">
				<li class="objects active"><a href="index.html"><span>Обьекты</span></a></li>
				<li class="employees"><a href="employees.html"  href="#"><span>Сотрудники</span></a></li>
				<li class="customers"><a href="customers.html"><span>Покупатели</span></a></li>
				<li class="branches"><a href="departments.html"><span>Филиалы</span></a></li>
				<li class="settings"><a href="settings.html"><span>Настройки</span></a></li>
			</ul>
		</div>
		<div class="top_btns clearfix flex-item">
			<a href="add-object.html">
				<span class="text-full">Добавить обьект</span>
				<span class="text-short">Обьект</span>
			</a>
			<a href="add-customer.html">
				<span class="text-full">Добавить покупателя</span>
				<span class="text-short">Покупатель</span>
			</a>
			<a href="add-employee.html">
				<span class="text-full">Добавить сотрудника</span>
				<span class="text-short">Сотрудник</span>
			</a>
		</div>
		<div class="user flex-item">
			<div class="image"><a href="settings.html"><img src="images/users/1.png" alt="User name"></a></div>
			<a href="settings.html" class="details">
				<span class="user-name">Сергей Савельев</span>
				<span class="user-position">Основатель компании</span>
			</a>
		</div>
		<a href="#" class="news_btn flex-item"><i class="icon-news-ic"></i></a>
	</div>
</header>
