<div class="modal fade popup modal-export" tabindex="-1" role="dialog" id="modal-export-object">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-plus" aria-hidden="true"></span></button>
			<div class="modal-header">
				<div class="title">Экспорт</div>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<ul class="select-list default-skin">
						<li>
							<input id="check" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check">Риэлтор</label>
						</li>
						<li>
							<input id="check2" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check2">Адресс</label>
						</li>
						<li>
							<input id="check3" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check3">Атрибуты</label>
						</li>
						<li>
							<input id="check4" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check4">Площадь</label>
						</li>
						<li>
							<input id="check5" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check5">Уровни</label>
						</li>
						<li>
							<input id="check6" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check6">Цена</label>
						</li>
						<li>
							<input id="check7" class="an_chekbox js-checkbox" type="checkbox" name="check">
							<label for="check7">Личная информация</label>
						</li>
					</ul>
					<div class="form-button-group">
						<button class="btn-info btn" type="button">Напечатать</button>
						<button class="btn btn-danger" type="button">pdf</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
