<div class="modal fade employee-modal left-modal" tabindex="-1" role="dialog" id="employee01">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="emplyee box">
					<div class="row">
						<div class="col-sm-3">
							<div class="image rounded"><img title="employee" title="employee" src="images/employee.png" width="110px" height="110px" /></div>
						</div>
						<div class="col-sm-9">
							<h4>Елена Борисовна Кирос</h4>
							<span class="small">Риэлтор, Приморский филиал</span>
						</div>
					</div>
				</div>

				<div class="tab-wrap">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#objects-employee" aria-controls="objects-employee" role="tab" data-toggle="tab">Об'єкты</a></li>
						<li role="presentation"><a href="#contacts-employee" aria-controls="contacts-employee" role="tab" data-toggle="tab">Контакты</a></li>
						<li class="link"><a href="#">Редактировать профиль</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active tab-objects" id="objects-employee">
							<div class="table-wrap">
								<table class="an_table">
									<tbody>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
										<tr>
											<td><img src="http://placehold.it/70x40"></td>
											<td>Куприна 24</td>
											<td>Хрущевка</td>
											<td>2 ком</td>
											<td>189м<sup>2</sup></td>
											<td>189 000 $</td>
										</tr>
									</tbody>
								</table>
							</div>
							<nav aria-label="Page navigation" class="pagination-wrap clearfix">
								<ul class="pagination pagination-lg">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
								</ul>
							</nav>
						</div>
						<div role="tabpanel" class="tab-pane tab-contacts" id="contacts-employee">
							<div class="box">
								<div class="title">Телефоны</div>
								<div class="box-content tags">
									<span><a class="unstyled-link" href="callto:(096)2242424">(096) 224 24 24</a></span>
									<span><a class="unstyled-link" href="callto:(096)2252525">(096) 225 25 25</a></span>
									<span><a class="unstyled-link" href="callto:(094)1241717">(094) 124 17 17</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">Почта</div>
								<div class="box-content">
									<span><a class="unstyled-link" href="mailto:El.kiros@mail.com">El.kiros@mail.com</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">Почта</div>
								<div class="box-content">
									<span><a class="unstyled-link" href="mailto:El.kiros@mail.com">El.kiros@mail.com</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">День рождения</div>
								<div class="box-content">
									<span>14 апреля 1988 год</span>
								</div>
							</div>
							<div class="box">
								<div class="title">День приема на работу</div>
								<div class="box-content">
									<span>21 мая 2015 год</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
