<div class="modal fade object-modal left-modal" tabindex="-1" role="dialog" id="object01">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="slider-wrap">
					<div class="slider not-loaded">
						<div class="item slick-current">
							<a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image" title="image" src="images/object-modal/1.png" width="240px" height="135px" /></a>
						</div>
						<div class="item"><a class="fancybox" href="images/object-modal/2.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/2.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/2.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/2.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/2.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/2.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/2.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/2.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/2.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/2.png" width="240px" height="135px" /></a></div>
						<div class="item"><a class="fancybox" href="images/object-modal/1.png"><img class="img-responsive" alt="image 2" title="image 2" src="images/object-modal/1.png" width="240px" height="135px" /></a></div>
					</div>
				</div>
				<div class="box">
					<div class="title">
						<h1>Продам 2-х ком. кв.</h1>
						<span class="small">(398082)</span>
					</div>
					<div class="desc js-collapsed-desc">
						<p>Продам 2-х ком. кв. ул. Армейская/пер.Ботанический. 8/10 эт., 89/47/17 кв.м. Кирпичный дом. Квартира двухсторонняя, две большие лоджии, встроенная кухня, шкафы, бойлер, кондиционер…</p>
						<div class="hidden js-full-desc">
							<p>more text</p>
							<p>more text</p>
							<p>more text</p>
						</div>
						<a class="js-show-desc"><span class="show-full">Полное описание</span><span class="hide-full">Скрыть</span></a>
					</div>
				</div>
				<div class="box rieltor">
					<div class="title">Риэлтор</div>
					<a href="#" class="icon icon-refresh">Елена Борисовна Кирос</a>
				</div>
				<div>
					<div class="row">
						<div class="col-sm-4 box">
							<div class="title">Адресс</div>
							<p>Фонтанская дорога 55/2</p>
						</div>
						<div class="col-sm-4 box">
							<div class="title">Район</div>
							<p>Овидиповский2</p>
						</div>
						<div class="col-sm-4 box">
							<div class="title">Зона</div>
							<p>Авдеева-Черноморского</p>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="title">Атрибуты</div>
					<div class="box-content tags">
						<span>Хрущевка</span>
						<span>2 комнаты</span>
						<span>Этаж 2/9</span>
						<span>Кирпич</span>
					</div>
				</div>
				<div class="box">
					<div class="title">Площадь</div>
					<div class="box-content tags">
						<span>Общая 189 м<sup>2</sup></span>
						<span>Жилая 174 м<sup>2</sup></span>
						<span>Кухни 34 м<sup>2</sup></span>
						<span>Потолок 3,4 м<sup>2</sup></span>
					</div>
				</div>
				<div class="box">
					<div class="title">Уровни</div>
					<div class="box-content tags">
						<span>Подземная стоянка</span>
						<span>Бассейн 12 м<sup>2</sup></span>
						<span>Консьерж</span>
						<span>Большой лифт</span>
						<span>Детская площадка</span>
						<span>Новострой, дому меньше года</span>
					</div>
				</div>
				<div class="box">
					<div class="title">Цена</div>
					<div class="box-content tags">
						<span>Общая 189 000 $</span>
						<span>За м<sup>2</sup> – 1 900 $</span>
						<span>Коммисия – 5%</span>
					</div>
				</div>
				<div class="box">
					<div class="title">Личная информация</div>
					<div class="box-content tags">
						<span>Николай Абрамов <span class="small">(собственник)</span></span>
						<span><a href="callto:(096)2252525" class="unstyled-link">(096) 225 25 25</a></span>
						<span><a href="mailto:nik911@mail.ru" class="unstyled-link">nik911@mail.ru</a></span>
						<p>Условия сотрудничества. За каждый проведённый платёж Вы получаете комиссионное вознаграждение. Оно рассчитывается исходя из сумм общего количества принятых агентом платежей за отчётный период (месяц). В конце отчётного периода вознаграждение перечисляется на Ваш расчётный счёт.</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Документы</div>
					<div class="box-content tags">
						<a class="link pdf">Договор</a>
						<a class="link zip">Документы владельца</a>
					</div>
				</div>
				<div class="box">
					<div class="title">Даты</div>
					<div class="box-content tags">
						<span>Обьект создан: 12.04.2016</span>
						<span>Последняя модерация: 15.04.2016</span>
					</div>
				</div>
			</div>
			<div class="modal-footer fixed clearfix">
				<a href="#" class="btn btn-primary btn-lg btn-square">Редактировать</a>
				<button type="button" class="btn btn-primary btn-lg btn-square">В АРХИВ</button>
			</div>
		</div>
	</div>
</div>
