<div class="modal fade filial-modal left-modal" tabindex="-1" role="dialog" id="filial01">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="emplyee box">
					<div class="row">
						<div class="col-sm-3">
							<div class="image"><img title="filial photo" title="filial photo" src="http://placehold.it/160x90" width="160px" height="90px" /></div>
						</div>
						<div class="col-sm-9">
							<h4>Приморский - 2</h4>
							<span class="small">Дата создания: 17.09.2016</span>
						</div>
					</div>
				</div>

				<div class="tab-wrap">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#objects-filial" aria-controls="objects-filial" role="tab" data-toggle="tab">Обьєкти</a></li>
						<li role="presentation"><a href="#contacts-filial" aria-controls="contacts-filial" role="tab" data-toggle="tab">Контакты</a></li>
						<li class="link"><a href="#">Редактировать филиал</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active tab-objects" id="objects-filial">
							<div class="table-wrap">
								<table class="an_table">
									<tbody>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
										<tr>
											<td><div class="image rounded"><img class="img-responsive" src="http://placehold.it/42x42"></div></td>
											<td>Сергей Савельев</td>
											<td>(096) 288 38 49</td>
											<td>Управляющий</td>
											<td>4 годаа 4 месяца</td>
										</tr>
									</tbody>
								</table>
							</div>
							<nav aria-label="Page navigation" class="pagination-wrap clearfix">
								<ul class="pagination pagination-lg">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
								</ul>
							</nav>
						</div>
						<div role="tabpanel" class="tab-pane tab-contacts" id="contacts-filial">
							<div class="box">
								<div class="title">Район</div>
								<div class="box-content">
									<p>Приморский</p>
								</div>
							</div>
							<div class="box">
								<div class="title">Адресс</div>
								<div class="box-content">
									<p>Лидерсовский бульвар 109</p>
								</div>
							</div>
							<div class="box">
								<div class="title">Телефон</div>
								<div class="box-content">
									<p>(096) 225 25 25</p>
								</div>
							</div>
							<div class="box">
								<div class="title">Управляющий</div>
								<div class="box-content">
									<p>Сергей Савельев</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
