<div class="modal fade customer-modal left-modal" tabindex="-1" role="dialog" id="customer01">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="emplyee box">
					<div class="row">
						<div class="col-sm-3">
							<div class="image rounded"><img title="customer photo" title="customer photo" src="http://placehold.it/110x110" width="110px" height="110px" /></div>
						</div>
						<div class="col-sm-9">
							<h4>Илья Зальцман Борисович</h4>
							<span class="small">Покупатель, Последний звонок 14.08.2016</span>
							&nbsp;&nbsp;<button class="btn btn-default btn-sm">Обновить</button>
						</div>
					</div>
				</div>

				<div class="tab-wrap">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#aim-customer" aria-controls="aim-customer" role="tab" data-toggle="tab">Цель</a></li>
						<li role="presentation"><a href="#contacts-customer" aria-controls="contacts-customer" role="tab" data-toggle="tab">Контакты</a></li>
						<li class="link"><a href="#">Редактировать профиль</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active tab-aim" id="aim-customer">
							<div class="box">
								<div class="title">Купить квартиру</div>
								<div class="box-content tags">
									<span>Новострой (сдан)</span>
									<span>78 м<sup>2</sup></span>
									<span>Без ремонта</span>
									<span>1-2 комнаты</span>
									<span>2-3 этаж</span>
									<span>Кирпич</span>
									<span>Подземная стоянка</span>
									<span>Детская площадка</span>
								</div>
							</div>
							<div class="box">
								<div class="title">Район</div>
								<div class="box-content">
									<span>Овидиповский,</span>
									<span>Беляевский,</span>
									<span>Ивановский,</span>
									<span>Коминтерновский,</span>
									<span>Овидиповский,</span>
									<span>Раменский,</span>
									<span>Беляевский,</span>
									<span>Ивановский,</span>
									<span>Коминтерновский,</span>
									<span>Великомихайловский,</span>
									<span>Ивановский,</span>
									<span>Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span class="hidden">Коминтерновский</span>
									<span><a href="#" class="small js-show-tags">и еще (23)</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">Зона</div>
								<p>Авдеева-Черноморского</p>
							</div>
							<div class="box">
								<div class="title">Сумма покупки, $</div>
								<p>26 000 – 49 000</p>
							</div>
							<hr>
							<div class="box">
								<div class="title">Купить дом</div>
								<div class="box-content tags">
									<span>128 м<sup>2</sup></span>
									<span>12 соток</span>
									<span>1-2 комнаты</span>
									<span>С ремонтом</span>
									<span>Монолит</span>
									<span>Бассейн 12 м<sup>2</sup></span>
									<span>За городом</span>
								</div>
							</div>
							<div class="box">
								<div class="title">Район</div>
								<p>Овидиповский, Беляевский, Ивановский, Коминтерновский </p>
							</div>
							<div class="box">
								<div class="title">Зона</div>
								<p>Авдеева-Черноморского</p>
							</div>
							<div class="box">
								<div class="title">Сумма покупки, $</div>
								<p>16 000 – 19 000</p>
							</div>
							<hr>
							<div class="box">
								<div class="title">Снять квартиру</div>
								<div class="box-content tags">
									<span>1 комната</span>
									<span>С ремонтом</span>
									<span>3 этаж</span>
								</div>
							</div>
							<div class="box">
								<div class="title">Район</div>
								<p>Центральный</p>
							</div>
							<div class="box">
								<div class="title">Зона</div>
								<p>Авдеева-Черноморского</p>
							</div>
							<div class="box">
								<div class="title">Сумма аренды, $</div>
								<p>240 – 300</p>
							</div>
							<hr>
							<div class="box rieltor">
								<div class="title">Риэлтор</div>
								<a href="#" class="icon icon-refresh">Елена Борисовна Кирос</a>
							</div>
							<div class="box">
								<div class="title">Примечание</div>
								<p>Условия сотрудничества. За каждый проведённый платёж Вы получаете комиссионное вознаграждение. Оно рассчитывается исходя из сумм общего количества принятых агентом платежей за отчётный период (месяц). В конце отчётного периода вознаграждение перечисляется на Ваш расчётный счёт.</p>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane tab-contacts" id="contacts-customer">
							<div class="box">
								<div class="title">Телефоны</div>
								<div class="box-content tags">
									<span><a class="unstyled-link" href="callto:(096)2242424">(096) 224 24 24</a></span>
									<span><a class="unstyled-link" href="callto:(096)2252525">(096) 225 25 25</a></span>
									<span><a class="unstyled-link" href="callto:(094)1241717">(094) 124 17 17</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">Почта</div>
								<div class="box-content">
									<span><a class="unstyled-link" href="mailto:El.kiros@mail.com">El.kiros@mail.com</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">Skype</div>
								<div class="box-content">
									<span><a class="unstyled-link" href="skype:El.kiros@mail.com?chat">Bb-0123</a></span>
								</div>
							</div>
							<div class="box">
								<div class="title">День рождения</div>
								<div class="box-content">
									<span>14 апреля 1988 год</span>
								</div>
							</div>
							<div class="box">
								<div class="title">Покупатель создан</div>
								<div class="box-content">
									<span>12.04.2016</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer fixed clearfix">
				<a href="#" class="btn btn-primary btn-lg btn-square">Редактировать</a>
				<button type="button" class="btn btn-primary btn-lg btn-square">В АРХИВ</button>
			</div>
		</div>
	</div>
</div>
