<aside id="rightbar" class="default-skin">
	<h4 class="news_list_title">Последние события</h4>
	<ul class="news_list">
		<li class="news_list-item">
			<div class="news_list-item_title">Новый сотрудник <a href="#">Альбрехт Дюрер</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый обьект <a href="#">«Квартира на побережье»</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Создан новый филиал <a href="#">Приморский</a></div>
			<div class="news_list-item_date">Вчера в 7:32</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый сотрудник <a href="#">Альбрехт Дюрер</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый обьект <a href="#">«Квартира на побережье»</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Создан новый филиал <a href="#">Приморский</a></div>
			<div class="news_list-item_date">Вчера в 7:32</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый сотрудник <a href="#">Альбрехт Дюрер</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый обьект <a href="#">«Квартира на побережье»</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Создан новый филиал <a href="#">Приморский</a></div>
			<div class="news_list-item_date">Вчера в 7:32</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый сотрудник <a href="#">Альбрехт Дюрер</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Новый обьект <a href="#">«Квартира на побережье»</a></div>
			<div class="news_list-item_date">Вчера в 18:23</div>
		</li>
		<li class="news_list-item">
			<div class="news_list-item_title">Создан новый филиал <a href="#">Приморский</a></div>
			<div class="news_list-item_date">Вчера в 7:32</div>
		</li>
	</ul>
</aside>
<div id="fill"></div>