<div class="an_table-control_panel clearfix">
	<div class="an_table-control_panel_rows_num">
		<div class="an_table-control_panel_rows_num_show"><i class="icon-list-ic"></i> (1-30 из 388)</div>
		<span>Выводить по:</span>
		<div class="an_table-control_panel_rows_num_select dropdown">
			<button class="an_filter-select" type="button" data-toggle="dropdown">30 <span class="caret"></span></button>
			<ul class="an_filter-dropdown dropdown-menu top">
				<li><a href="#">120</a></li>
				<li><a href="#">90</a></li>
				<li><a href="#">60</a></li>
			</ul>
		</div>
		</select>
	</div>
	<div class="pagination right">
		<a href="#" class="pagination-arrow prev glyphicon glyphicon-triangle-left"></a>
		<span class="hidden-xs hidden-sm hidden-md">Страница <input type="text" name="#" value="1" class="pagination-input"> / 24</span>
		<a href="#" class="pagination-arrow next glyphicon glyphicon-triangle-right"></a>
	</div>
</div>
