.btn {
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "geometriabold";
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.47;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: none;
	font-size: 16px;
	padding: 13px 55px;
	transition: background, color 0.3s ease;
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		outline: none;
		box-shadow: none;
	}
	@media(max-width: 767px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.btn-default {
	background-color: #44b0ff;
	color: #ffffff;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	&:visited {
		background-color: #44b0ff;
		color: #fff;
	}
	&:active,
	&.active {
		background-color: #eaf2ff;
		color: #333333;
	}
	&:hover,
	&:hover:focus,
	&:active:focus {
		background-color: #3a96ff;
		border-color: #3a96ff;
		color: #ffffff;
	}
	&:focus {
		background-color: #44b0ff;
		color: #ffffff;
	}
}
.btn-info {
	background-color: #6bd960;
	color: #ffffff;
	line-height: 1.6;
	&:visited {
		background-color: #6bd960;
		color: #fff;
	}
	&:hover,
	&:active,
	&:focus,
	&.active:hover,
	&.active:focus,
	&:active:focus,
	&[disabled]:hover {
		background-color: #4aca3d;
		border-color: #4aca3d;
		color: #ffffff;
	}
	&.active {
		background-color: #6bd960;
		color: #ffffff;
		box-shadow: none;
	}
	&.btn-lg {
		padding: 23px 50px;
	}
	@media (min-width: 768px) {
		min-width: 254px;
	}
}
.btn-primary {
	background-color: #eaf2ff;
	color: #3a96ff;
	&:visited {
		background-color: #eaf2ff;
		color: #3a96ff;
	}
	&:hover,
	&:active,
	&:focus,
	&:active:focus {
		background-color: #deebff;
		border-color: #deebff;
		color: #3a96ff;
	}
}
.btn-danger {
	border-color: #ff5454;
	color: #fff;
	&:visited {
		color: #fff;
	}
	&.active {
		border-color: #ff5454;
		color: #fff;
		box-shadow: none;
	}
}
.btn-lg {
	padding: 23px 50px;
	line-height: 1.6;
	font-size: 15px;
	@media(max-width: 767px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.btn-sm {
	padding: 5px 10px;
	font-size: 13px;
	text-transform: none;
}
.btn-square {
	border-radius: 0;
}
.btn-link {
	&.red {
		font-size: 15px;
		line-height: 1.6;
		letter-spacing: 1px;
		text-align: center;
		color: #ff5858;
	}
}
.btn-group {
	& > .btn {
		float: none;
		&:first-child:not(:last-child):not(.dropdown-toggle) {
			border-radius: 5px;
		}
	}
	@media (max-width: 767px) {
		text-align: center;
	}
}
.btn-plus {
	width: 40px;
	height: 40px;
	background-color: rgba(245, 249, 255, 1);
	padding: 0;
	border-radius: 50%;
	position: relative;
	&::before,
	&::after {
		content: "";
		background: #3a96ff;
		position: absolute;
		display: block;
		right: 0;
		left: 0;
		margin: auto;
	}
	&::before {
		width: 14px;
		height: 2px;
		top: 50%;
		margin-top: -1px;
	}
	&::after {
		width: 2px;
		height: 14px;
		top: 0;
		bottom: 0;
	}
	&:hover {
		background-color: rgba(245, 249, 255, 0.5);
	}
}
