/* filters */
.an_filters_panel {
	margin-bottom: 20px;
}
.an_filter {
	list-style: none;
	float: left;
	margin: 0;
	& > li {
		float: left;
		& + li {
			margin-left: 20px;
		}
	}
	& + .an_filter {
		margin-left: 40px;
	}
	&.open {
		.an_filter-select {
			background-color: #44B0FF;
			color: #fff;
			.caret {
				transform: rotateX(180deg);
				opacity: 0.6;
			}
		}
	}
	.checkbox-wrap {
		display: inline-block;
	}
	input[type="radio"]:checked,
	input[type="checkbox"]:checked {
		& + .an_filter-btn {
			background-color: #44b0ff;
			color: #fff;
		}
	}
	.an_filter-select,
	.an_filter-btn {
		padding: 6px 10px;
		line-height: 19px;
	}
}
.an_filter-select,
.an_filter-btn {
	background-color: transparent;
	border: none;
	color: #000;
	border-radius: 5px;
	display: block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 0;
	font-size: 14px;
	@extend .transition02s;
}
.an_filter-btn,
.an_filter-select {
	cursor: pointer;
	&:hover,
	&:active,
	&:focus {
		background-color: #E6EEFA;
	}
}
.an_filter-btn {
	&.active {
		background-color: #44b0ff;
		color: #fff;
	}
}
.an_filter-dropdown {
	box-shadow: 0 12px 25px 0 rgba(147, 147, 211, 0.3);
	border: none;
	padding: 0;
	border-radius: 5px;
	min-width: 100%;
	margin-top: 10px;
	& > li:first-child label {
		padding-top: 10px;
	}
	& > li:last-child label {
		padding-bottom: 10px;
	}
	label {
		display: block;
		margin: 0;
		padding: 0 30px 0 15px;
		line-height: 30px;
		font-weight: 600;
		font-size: 14px;
		cursor: pointer;
		white-space: nowrap;
		color: #666666;
		&:before {
			width: 18px !important;
			height: 18px !important;
			margin-right: 5px;
			position: relative;
			top: 1px;
			font-size: 10px;
			line-height: 14px !important;
		}
	}
	input[type="radio"],
	input[type="ckeckbox"] {
		display: none;
	}
	input[type="radio"]:checked + label,
	input[type="ckeckbox"]:checked + label {
		&:hover label {
			background-color: #F2F9FF;
			color: #3a96ff;
		}
	}
	li {
		&:hover label {
			color: #3a96ff;
		}
	}
}
.dropdown.an_filter {
	.an_filter-dropdown {
			margin-top: 0;
	}
}

/* /filters */
@media (max-width: 1365px) {
	.an_filter {
		position: relative;
		& + .an_filter {
			margin-left: 10px;
		}
		.btn-filter.an_filter-btn,
		.an_filter-select,
		input[type="checkbox"] + label.an_filter-btn {
			font-size: 13px;
			padding: 16px 15px 16px 15px;
		}
		.an_filter-select {
			color: #fff;
			background: #44b0ff;
		}
		.filter-collapse {
			position: absolute;
			top: 100%;
			left: 0;
			width: 500px;
			padding-top: 2px;
			padding-top: 0;
			.checkbox-wrap {
				display: block;
			}
			.an_filter-btn {
				color: #666666;
				padding: 8px 10px 8px 20px;
				width: 100%;
				border-radius: 0;
				&:hover {
					background: #f3f9ff;
					color: #3a96ff;
				}
			}
			input[type="radio"]:checked {
				& + .an_filter-btn {
					background: #f3f9ff;
					color: #3a96ff;
				}
			}
		}
	}
}
@media screen and (min-width: 1366px) {
	.btn-filter {
		&.visible-tablet {
			display: none;
		}
	}
	.dropdown {
		.filter-collapse {
			display: block;
			position: static;
			box-shadow: none;
			background: none;
			margin-top: 0 !important;
		}
	}
	.an_filter-dropdown {
		label {
			color: #000;
		}
	}
}
@media (min-width: 1366px) and (max-width: 1919px) {
	.objects {
		.container-fluid {
			padding: 0 40px;
		}
	}
	.an_filter {
		& + .an_filter {
			margin-left: 20px;
		}
	}
}
@media (min-width: 1920px) {
	.objects {
		.container-fluid {
			padding: 0 90px;
		}
	}
}


.employees {
	.an_filter {
		input[type="checkbox"]:checked {
			& + .an_filter-btn {
				color: #000;
				background-color: transparent;
				&:before {
					background: #44b0ff;
				}
			}
		}
		.an_filter-btn {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				width: 5px;
				height: 5px;
				background: transparent;
				margin: auto;
				border-radius: 5px;
			}
		}
	}
}
