.container {
	@media (min-width: 768px) {
		width: 760px;
	}
	@media (min-width: 992px) {
		width: 980px;
	}
	@media (min-width: 1200px) {
		width: 1200px;
	}
}

input,
textarea {
	-webkit-appearance: none;
}

.white-content {
	background: #fff;
	box-shadow: 0 12px 45px 0 rgba(157, 158, 218, 0.2);
	margin-bottom: 100px;
	padding: 40px 50px 50px;
	hr {
		margin-left: -50px;
		margin-right: -50px;
	}
	.box {
		.title {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
	@media only screen and (max-width: 992px) {
		margin-bottom: 50px;
	}
}
.load-photo {
	.image {
		position: relative;
		overflow: hidden;
		cursor: pointer;
		&:hover {
			.hover-content {
				transform: scale(1);
			}
		}
		&.empty {
			width: 140px;
			height: 140px;
			background-color: #f5f9ff;
			border: dotted 1px #e2e6fb;
			.hover-content {
				transform: scale(1);
			}
			img {
				display: none;
			}
		}
	}
	.hover-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transform: scale(0);
		transition: transform 0.3s ease;
		border-radius: 50%;
		text-align: center;
		font-size: 12px;
		.icon-plus {
			&:before {
				display: inline-block;
				width: 90%;
				font-size: 16px;
				color: #3a96ff;
			}
		}
	}
	.img-responsive {
		height: 140px;
	}
}

.form-group {
	position: relative;
	&.add-more {
		position: relative;
		.btn {
			position: absolute;
			bottom: 5px;
			left: 100%;
			margin: 0 0 auto 10px;
		}
	}
}
.switches-list {
	.form-group {
		padding-right: 80px;
	}
}
.switch-wrap {
	position: absolute;
	top: 0;
	right: 30px;
	bottom: 0;
	margin: auto;
	label {
		width: 52px;
		height: 30px;
		object-fit: contain;
		border-radius: 25px;
		background-color: #eaf2ff;
		position: relative;
		margin: 0;
		padding: 0;
		cursor: pointer;
		opacity: 1;
		&:before {
			content: "";
			width: 22px;
			height: 22px;
			display: block;
			background: #cadcf7;
			border-radius: 50%;
			margin: 4px;
			transform: translate(0, 0);
			transition-property: transform, background;
			transition-duration: 0.3s;
			transition-timing-function: ease;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		&[type=checkbox]:checked {
			& + label {
				&:before {
					background: #44b0ff;
					transform: translate(100%, 0);
				}
			}
		}
	}
}
.image-wrap {
	margin-bottom: 20px;
}

.settings {
	.tab-content {
		.tab-pane {
			padding: 0;
		}
	}
	.box {
		.title {
			margin-bottom: 10px;
		}
	}
	.form-button-group {
		padding: 0;
		padding-top: 20px;
	}
}

// add-object

.add-object {
  .white-content {
    padding: 0;
  }
	.form-control {
		margin-bottom: 10px;
	}
	.form-button-group {
		padding: 40px 40px 50px;
	}
}

.form {
  padding: 0 40px;
  margin-bottom: 100px;
  background-color: #fff;
  .form-group {
    margin-bottom: 0;
  }
  hr {
    margin: 0 -40px;
  }
}

.form-group {
  &.form-elements {
    padding: 30px 0 15px;
  }
  &.filter-group {
    padding: 30px 0 15px;
  }
  &.address {
    padding: 20px 0 14px;
    .custom-radio {
      label {
        margin-bottom: 0;
        opacity: 1;
      }
    }
  }
  &.attributes {
    padding: 21px 0 35px;
    font-size: 0;
    .form-group {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
			margin-bottom: 15px;
      border: none;
      label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: normal;
      }
      .form-control {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        margin-bottom: 0;
      }
    }
    .input-group {
      &.form-control {
        width: 105px;
        padding: 0 5px;
        margin-top: 0;
      }
      input {
        width: 35px;
      }
    }
		.custom-select {
			margin-bottom: 15px;
			@media only screen and (max-width: 992px) {
				margin-bottom: 30px;
			}
		}
  }
  &.levels {
    padding: 20px 0 50px;
    .form-group {
      border: none;
      font-size: 0;
      .btn-plus {
        bottom: 10px;
      }
    }
    .form-control {
      display: inline-block;
      vertical-align: middle;
      max-width: 560px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
  &.price {
    padding: 20px 0 35px;
    label {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0;
    }
    .custom-radio {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-bottom: 15px;
			label {
				&:before {
					margin-top: 4px;
				}
			}
    }
    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: 130px;
      margin-bottom: 15px;
      margin-right: 20px;
    }
    .form-group {
      display: inline-block;
      vertical-align: middle;
			margin-bottom: 15px;
      border: none;
      label {
        margin-right: 15px;
      }
      .form-control {
        width: 80px;
				margin-bottom: 0;
      }
    }
  }
  &.user-info {
    padding: 20px 0 50px;
    .form-group {
      border: none;
      &.add-more {
        margin-bottom: 30px;
        .form-control {
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;
        }
        .btn-plus {
          left: auto;
					@media only screen and (max-width: 992px) {
						left: 100%;
					}
        }
      }
			@media only screen and (max-width: 992px) {
				margin-top: 15px;
			}
    }
    .form-control {
      width: 90%;
      margin-bottom: 30px;
			@media only screen and (max-width: 992px) {
				width: 100%;
			}
    }
    .form-control[readonly] {
      background-color: #f5f9ff;
    }
  }
}

.form-control {
  width: 100%;
  height: 50px;
  padding: 14px 20px;
  margin-bottom: 33px;
  border-radius: 5px;
  background-color: #f5f9ff;
  border: solid 2px #e2e6fb;
  box-shadow: none;
  font-size: 16px;
  resize: none;
  &:focus {
    box-shadow: none;
  }
  &.form-descr-textarea {
    height: 145px;
		margin-bottom: 0;
  }
  &.form-title-input {
    height: auto;
		margin-bottom: 0;
  }
  &.input-group {
    font-size: 0;
    padding: 0 10px;
    input {
      background: transparent;
      border: none;
      display: inline-block;
      vertical-align: middle;
      width: 75px;
      padding-top: 12px;
      padding-bottom: 14px;
      font-size: 16px;
      text-align: center;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      font-size: 26px;
      color: #e2e6fb;
    }
		@media only screen and (max-width: 992px) {
			width: 200px;
			margin-bottom: 30px;
		}
  }
  &.street-name,
  &.house-number,
  &.name {
    margin-top: 23px;
  }
}

textarea.form-control {
  height: 133px;
}

.form-title-input {
  height: auto;
  margin-bottom: 0;
  padding: 17px 0 20px;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 21px;
  &:focus {
    box-shadow: none;
    border-color: #ebebeb;
  }
}

.form-descr-textarea {
  margin-bottom: 0;
  height: 145px;
  padding: 17px 0 20px;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 16px;
  resize: none;
  &:focus {
    box-shadow: none;
    border-color: #ebebeb;
  }
}

.form-filter {
  font-size: 0;
  margin-bottom: 0;
  .custom-radio {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    label {
      width: 180px;
      padding: 13px 15px 15px;
      background-color: transparent;
      color: #333;
      transition: .3s;
			@media only screen and (max-width: 992px) {
				background-color: #eaf2ff;
			}
      &:before {
        display: none;
      }
      &:hover {
        background-color: #eaf2ff;
        color: #333;
      }
    }
    input[type="radio"]:checked + label {
      background-color: #44b0ff;
      color: #fff;
    }
  }
}

input[type="radio"],
input[type="file"],
input[type="checkbox"] {
  display: none;
}

.add-photo {
  margin-bottom: 0;
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
		margin-bottom: 15px;
    text-align: center;
    color: #4d4d4d;
    &:first-of-type {
      font-size: 12px;
    }
    .image-wrap {
      margin-bottom: 0;
    }
    .load-photo {
      .image {
        &:hover {
          .hover-content {
            transform: scale(0);
          }
        }
        &.rounded {
          border-radius: 0;
        }
        &.empty {
          width: 140px;
          height: 80px;
          border-radius: 5px;
          background-color: #f5f9ff;
          border: 1px dashed #e2e6fb;
          cursor: pointer;
          font-weight: normal;
          &:hover {
            .hover-content {
              transform: scale(1);
            }
          }
        }
      }
      .img-responsive {
        height: 80px;
      }
    }
    .hover-content {
      text-align: center;
      font-size: 12px;
      color: #4d4d4d;
      .icon-plus {
        &:before {
          display: inline-block;
          width: 90%;
          font-size: 16px;
          color: #3a96ff;
        }
      }
    }
  }
}

.dropdown {
  width: 100%;
  &.open {
    .dropdown-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .caret {
        transform: scale(-1);
      }
    }
    .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  &.an_filter {
    width: auto;
    .dropdown-menu {
      width: auto;
      margin-top: 10px;
    }
  }
  .btn-default {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 13px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  .dropdown-menu {
    width: 100%;
    padding: 0;
    margin-top: -10px;
    border-top-left-radius: 0
  }
}

.clear {
  padding: 0 20px;
  line-height: 50px;
  background-color: #f5f9ff;
	font-size: 15px;
  color: #44b0ff;
  // box-shadow: 0 8px 25px 0 rgba(140, 140, 195, 0.4);
}

.clear-button {
	float: right;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.select-all {
	float: left;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.collapse-group {
  padding: 10px 20px;
  .col-lg-5,
  .col-lg-7 {
    padding: 0;
  }
}

.collapse-content {
  ul {
    list-style: none;
  }
  .custom-radio {
    display: inline-block;
    vertical-align: top;
    width: 140px;
  }
	.collapse-button {
		font-weight: normal;
	}
}

.collapse-button {
  display: block;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
  &[aria-expanded="true"] {
    .caret {
      transform: scale(-1);
    }
  }
}

.custom-radio {
  margin-bottom: 10px;
  input[type="radio"] {
    &:checked {
      + label {
        &:before {
          background-color: #44b0ff;
          box-shadow: 0 0 0 2px #44b0ff;
        }
      }
    }
  }
  label {
    cursor: pointer;
    font-size: 14px;
    color: #333;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
      margin-right: 7px;
      margin-top: 2px;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border: solid 2px #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #e6e6e6;
    }
  }
}

.custom-select {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
  }
	.bootstrap-select.btn-group .dropdown-menu li {
		font-size: 16px;
		font-weight: 600;
	}
	.bootstrap-select.btn-group .dropdown-menu li a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
  .btn-default {
    padding: 13px 15px 15px;
    text-align: center;
  }
  .bootstrap-select > .dropdown-toggle.bs-placeholder,
  .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #fff;
  }
  .open > .dropdown-toggle.btn-default:hover,
  .open > .dropdown-toggle.btn-default {
    background-color: #3a96ff;
    border-color: #3a96ff;
    color: #fff;
  }
  .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
  }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 12px 25px 0 rgba(147, 147, 211, 0.3);
  }
  .bootstrap-select {
    .flat {
      width: 180px;
    }
    .build {
      width: 225px;
    }
    .status {
      width: 145px;
    }
    .owner {
      width: 180px;
    }
		.select-area {
			width: 560px;
		}
    &.open {
      .btn-default {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
			.caret {
				transform: scale(-1);
			}
    }
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #f3f9ff;
    color: #3a96ff;
  }
}

.exclusive {
  display: inline-block;
  vertical-align: middle;
	margin-bottom: 15px;
  input[type="checkbox"] {
    &:checked {
      + label {
        &:after {
          background: url(../images/icons/star.png) no-repeat center center;
        }
      }
    }
  }
  label {
    cursor: pointer;
    &:after {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 25px;
      height: 25px;
      margin-top: -4px;
      margin-left: 5px;
      background: url(../images/icons/star-empty.png) no-repeat center center;
    }
  }
}

.custom-upload {
  .btn-default {
    &:active {
      background-color: #3a96ff;
      color: #fff;
      &:hover {
        background-color: #3a96ff;
        color: #fff;
      }
    }
  }
}

.form-button-group {
	padding-top: 20px;
  text-align: center;
	text-transform: uppercase;
  .btn-info {
    padding: 23px 50px 23px;
    font-size: 15px;
		@media only screen and (max-width: 992px) {
			min-width: 225px;
			padding: 18px 30px 18px;
			margin-right: 25px;
		}
  }
}

.form-denied {
	padding: 23px 30px 23px;
  background: transparent;
  border: none;
  font-family: "geometriabold";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  color: #ff5858;
  transform: translateX(30px);
	border-radius: 5px;
	transition: .5s;
	&:hover {
		background-color: #ffeae6;
	}
	@media only screen and (max-width: 992px) {
		padding: 18px 30px 18px;
		transform: translateX(0);
		background-color: #ffeae6;
	}
}

.form-label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #191919;
  opacity: .5;
}

// add-customer

.add-customer {
	.btn-default {
		width: 280px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.box {
		margin-bottom: 17px;
	}
	.form-elements {
		margin-bottom: 50px;
	}
	.select-area {
		width: 560px;
		.btn-default {
			width: 100%;
		}
	}
	.collapse-content ul li {
		margin-bottom: 10px;
	}
	input[type="checkbox"].an_chekbox + label {
		padding: 0;
		font-size: 14px;
		&:hover {
			color: #1389de;
		}
		&:before {
			width: 18px;
			height: 18px;
			line-height: 14px;
			border-radius: 3px;
			margin-right: 5px;
			background-color: #fff;
			font-size: 11px;
		}
	}
	.custom-radio {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: 20px;
		label {
			margin-bottom: 0;
		}
	}
	.input-group {
		display: inline-block;
		vertical-align: middle;
		width: 270px;
		margin-bottom: 0;
		margin-right: 20px;
		input {
			width: 110px;
		}
		span {
			height: 33px;
			line-height: 1;
			color: #191919;
			opacity: .4;
		}
	}
	.suggestion {
		margin-top: 20px;
	}
	.custom-select {
		@media only screen and (max-width: 992px) {
			margin-bottom: 15px;
		}
	}
	.form-button-group {
		.btn-info {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

// add-employee

.add-employee {
	.custom-select {
		margin-bottom: 33px;
	}
	.btn-default {
		width: 235px;
	}
	.box {
		margin-bottom: 17px;
	}
}

// add-department

.add-department {
	.image {
		margin-bottom: 33px;
	}
	.box {
		margin-bottom: 17px;
	}
	.btn-default {
		width: 280px;
		margin-bottom: 33px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

// edit-employee

.edit-employee {
	.btn-default {
		width: 235px;
	}
	.custom-select {
		@media only screen and (max-width: 992px) {
			margin-bottom: 33px;
		}
	}
}
