.transition03s {
	transition: all 0.3s ease-in-out;
}
.transition02s {
	transition: all 0.2s ease-in-out;
}


// /* an table */

.an_table-nwfw_col {
	width: 1px;
	white-space: nowrap;
}
.an_table-btn_col {
	width: 1px;
	text-align: center;
	padding: 5px 10px !important;
	&:last-child {
		padding-right: 20px !important;;
	}
}

// /* /an table */
.icon_btn {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 5px;
	border: none;
	color: #d3dae9;
	display: inline-block;
	&.active,
	&:active,
	&:hover,
	&:focus {
		color: #3a96ff;
		text-decoration: none;
	}
	&:visited {
		color: #d3dae9;
	}
	&.icon-edit-iс {
		&.active,
		&:active,
		&:hover,
		&:focus {
			color: #3a96ff;
		}
		&:visited {
			color: #d3dae9;
		}
	}
	&.icon-export-ic {
		&:active,
		&:hover,
		&:focus,
		&:visited {
			color: #d3dae9;
		}
	}
}
input[type="checkbox"].an_chekbox {
	display: none;
	&:checked + label:before{
		border-color: #44b0ff;
		color: #44b0ff;
	}
	+ label{
		margin: 0;
		cursor: pointer;
		&:before {
			content: "\e013";
			display: inline-block;
			color: transparent;
			width: 22px;
			height: 22px;
			text-align: center;
			border-radius: 5px;
			background-color: #f5f5f5;
			border: solid 2px #e6e6e6;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 20px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}


.fancybox-overlay {
	background: none;
	@media (min-width: 1366px) {
		width: calc(100% - 780px) !important;
	}
}
