.wrapper {
	min-width: 768px;
	width: 100%;
	overflow: hidden;
}
#page_header {
	min-width: 768px;
}
/* TOP LINE */
.top_line {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo,
.main_menu {
	flex: 1;
}
.top_btns,
.user,
.news_btn {
	flex: none;
}
.menu-wrap {
	flex: 1;
}
.flex-item {
	flex: none;
	display: flex;
}

/* logo */
.logo,
.news_btn {
	align-items: center;
	justify-content: center;
}
.logo {
	background-color: #3b3b3b;
	width: 120px;
	text-align: center;
	a {
		display: block;
	}
	.logo-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}
/* /logo */

/* main menu */
.main_menu {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	& > li {
		float: left;
		display: block;
		width: 80px;
		& > a {
			color: #fff;
			display: block;
			padding-top: 40px;
			position: relative;
			text-decoration: none;
			text-align: center;
			background-image: url('../images/icons/menu-icons.svg');
			background-size: 400px 160px;
			background-repeat: no-repeat;
		}
		&.objects {
			& > a {
				background-position: 0 -23px;
			}
			&.active,
			&:hover {
				& > a {
					background-position: 0 -103px;
				}
			}
		}
		&.employees {
			& > a {
				background-position: -80px -23px;
			}
			&.active,
			&:hover {
				& > a {
					background-position: -80px -103px;
				}
			}
		}
		&.customers {
			& > a {
				background-position: -160px -23px;
			}
			&.active,
			&:hover {
				& > a {
					background-position: -160px -103px;
				}
			}
		}
		&.branches {
			& > a {
				background-position: -240px -23px;
			}
			&.active,
			&:hover {
				& > a {
					background-position: -240px -103px;
				}
			}
		}
		&.settings {
			& > a {
				background-position: -320px -23px;
			}
			&.active,
			&:hover {
				& > a {
					background-position: -320px -103px;
				}
			}
		}
	}
}
/* /main menu */

/* top buttons */
.top_btns {
	a {
		color: #3a96ff;
		font-family: "geometriabold", sans-serif;
		line-height: 1;
		padding: 32px 30px 32px 55px;
		display: block;
		float: left;
		background-color: #3b3b3b;
		position: relative;
		text-decoration: none;
		&:before {
			content: "+";
			position: absolute;
			font: 32px "Open Sans";
			left: 25px;
			top: 50%;
			margin-top: -9px;
			line-height: 16px;
		}
		&:hover,
		&:active,
		&:focus {
			color: #3a96ff;
			text-decoration: none;
		}
		&:visited {
			color: #3a96ff;
		}
		& + a {
			margin-left: 1px;
		}
	}
}
/* /top buttons */

/* user */
.user {
	padding: 0 20px;
	width: 320px;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
	.image {
		margin: 0 20px 0 0;
		float: left;
		img {
			width: 40px;
			height: 40px;
		}
	}
	.details {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.user-name {
		color: #fff;
		font: 16px "geometriabold", sans-serif;
		line-height: 1em;
		display: block;
	}
	.user-position {
		color: #e6e6e6;
		font: 14px "geometriaregular", sans-serif;
		line-height: 1em;
	}
}
/* /user */

/* news popup */
.news_btn {
	color: #3a96ff;
	background-color: #3b3b3b;
	font-size: 28px;
	width: 80px;
	text-align: center;
	position: relative;
	z-index: 5;
}
/* /news popup */
/* /TOP LINE */

@media (max-width: 1365px) {
	.logo {
		padding: 15px 10px;
		img {
			width: 70%;
		}
	}
	.logo,
	.user,
	.news_btn {
		width: 60px;
		height: 60px;
	}
	.main_menu {
		padding: 0;
		max-width: 250px;
		& > li {
			width: 40px;
			transform: scale(0.8);
			margin-left: 10px;
			& > a {
				padding-top: 30px;
				height: 60px;
				span {
					display: none;
				}
			}
			&.objects {
				& > a {
					background-position: -20px -10px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -20px -90px;
					}
				}
			}
			&.employees {
				& > a {
					background-position: -100px -10px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -100px -90px;
					}
				}
			}
			&.customers {
				& > a {
					background-position: -180px -10px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -180px -90px;
					}
				}
			}
			&.branches {
				& > a {
					background-position: -260px -10px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -260px -90px;
					}
				}
			}
			&.settings {
				& > a {
					background-position: -340px -10px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -340px -90px;
					}
				}
			}
		}
	}
	.top_btns {
		a {
			font-size: 13px;
			padding: 25px 13px 22px 30px;
			&:before {
				font: 35px "Open Sans";
				left: 7px;
				line-height: 14px;
			}
		}
	}
	.user {
		padding: 10px;
		.image {
			margin: 0;
			img {
				margin-right: 0;
			}
		}
		.details {
			display: none;
		}
	}
	.news_btn {
		padding: 6px;
	}
}
@media (min-width: 1366px) and (max-width: 1849px) {
	.logo {
		padding: 13px 15px;
		width: 90px;
	}
	.news_btn {
		padding: 14px 15px;
		width: 70px;

	}
	.main_menu {
		padding: 0 10px;
		& > li {
			& + li {
				margin-left: 15px;
			}
			& > a {
				font-size: 11px;
				line-height: 15px;
			}
		}
	}
	.top_btns {
		a {
			font-size: 14px;
			padding: 28px 28px 28px 50px;
		}
	}
	.user {
		width: 245px;
		.user-name {
			font-size: 14px;
		}
		.user-position {
			font-size: 12px;
		}
	}
}
@media (max-width: 1919px) {
	.top_btns {
		.text-short {
			display: block;
		}
		.text-full {
			display: none;
		}
	}
}
@media (min-width: 1850px) {
	.logo,
	.news_btn {
		height: 80px;
	}
	.main_menu {
		& > li {
			& + li {
				margin-left: 30px;
			}
			& > a {
				font-size: 12px;
				line-height: 15px;
				background-image: url('../images/icons/menu-icons.svg') !important;
				background-size: 400px 160px;
				background-repeat: no-repeat;
			}
			&.objects {
				& > a {
					background-position: 0 -23px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: 0 -103px;
					}
				}
			}
			&.employees {
				& > a {
					background-position: -80px -23px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -80px -103px;
					}
				}
			}
			&.customers {
				& > a {
					background-position: -160px -23px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -160px -103px;
					}
				}
			}
			&.branches {
				& > a {
					background-position: -240px -23px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -240px -103px;
					}
				}
			}
			&.settings {
				& > a {
					background-position: -320px -23px;
				}
				&.active,
				&:hover {
					& > a {
						background-position: -320px -103px;
					}
				}
			}
		}
	}
	.top_btns {
		a {
			font-size: 16px;
		}
		.text-short {
			display: none;
		}
		.text-full {
			display: block;
		}
	}
}
