.modal-backdrop {
	background-color: #1D202E;
	opacity: 0.6;
}
.modal {
	.modal-content {
		border: none;
		box-shadow: none;
	}
	.modal-body {
		padding: 40px 40px 0 50px;
	}
	.modal-footer {
		padding: 0;
		border: 0;
		.btn {
			width: 50%;
			float: left;
		}
		.btn + .btn {
			border-style: solid;
			border-color: #fff;
			border-width: 0 0 0 1px;
			margin: 0;
		}
	}
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.86;
		color: #4d4d4d;
		margin-bottom: 5px;
	}
}
.left-modal {
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	&.in {
		.modal-dialog {
			transform: translate(0, 0) !important;
		}
	}
	.modal-dialog {
		margin: 0;
		height: 100%;
		position: relative;
		float: right;
		box-shadow: -15px 0 50px 0 rgba(51, 51, 51, 0.3);
		transform: translate(100%, 0) !important;

	}
	.modal-content {
		position: static;
		border-radius: 0;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.modal-body {
		padding-bottom: 100px;
	}
	.modal-footer {
		&.fixed {
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	@media(min-width: 768px) and (max-width: 991px) {
		.modal-dialog {
			width: 600px
		}
	}
	@media(min-width: 992px) {
		.modal-dialog {
			width: 780px
		}
	}
}
.title {
	margin-bottom: 5px;
	h1 {
		display: inline-block;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		color: #000000;
	}
}

.slider-wrap {
	margin: 0 -40px 30px 0;
}
.box {
	margin-bottom: 40px;
	.title {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		color: #000000;
		margin-bottom: 5px;
	}
	.small {
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		color: #7993b9;
		padding: 0;
	}
	a {
		&.small {
			text-decoration: none;
			font-size: 14px;
		}
	}
	.tags span,
	.unstyled-link {
		font-size: 14px;
		line-height: 19px;
		color: #333333;
		font-family: 'Open Sans', sans-serif;
		padding-right: 55px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.unstyled-link {
		text-decoration: none;
		padding-right: 0;
		margin-bottom: 0;
	}
}
.tab-home {
	span,
	.unstyled-link {
		margin-bottom: 0;
	}
}

.slider {
	height: 135px;
	overflow: hidden;
	&.not-loaded {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			display: block;
			background: url('../images/refresh.svg') no-repeat center center / 100% auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			animation: rotating 2s infinite normal;
		}
		.item {
			opacity: 0;
		}
	}
	.item {
		display: flex !important;
		align-items: flex-end;
		height: 135px;
		padding: 0 15px 0 0;
		&:not(.slick-active) {
			img {
				width: 240px;
			}
		}
		img {
			width: 160px;
			transition: width 0.3s ease;
		}
		&.slick-current {
			img {
				width: 240px;
			}
		}
		&.slick-active {
			&+:not(.slick-active) {
				img {
					width: 160px;
				}
				&+:not(.slick-active) {
					&+:not(.slick-active) {
						&+:not(.slick-active) {
							img {
								width: 160px;
							}
						}
						img {
							width: 160px;
						}
					}
					img {
						width: 160px;
					}
				}
			}
		}
	}
}

.js-show-desc {
	.hide-full {
		display: none;
	}
	&.open {
		.show-full {
			display: none;
		}
		.hide-full {
			display: block;
		}
	}
}

.icon-refresh {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		margin: auto 0 auto 15px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f5f9ff url('../images/refresh.svg') no-repeat center center / 17px 17px
	}
	&:hover {
		&:before {
			background-color: #deebff;
		}
	}
}

.link {
	margin-right: 45px;
	&.pdf,
	&.zip {
		padding: 15px 0 0px 41px;
		display: inline-block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 30px;
			height: 35px;
		}
	}
	&.pdf {
		&:before {
			background: url('../images/pdf-icon.svg') no-repeat left bottom / 27px 31px
		}
	}
	&.zip {
		&:before {
			background: url('../images/zip-icon.svg') no-repeat left bottom / 25px 31px
		}
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.emplyee {
	h4 {
		margin-bottom: 5px;
	}
	@media (min-width: 768px) {
		.row {
			display: flex;
			align-items: center;
		}
	}
	@media (max-width: 768px) {
		text-align: center;
		.image {
			margin-bottom: 20px;
			display: inline-block;
		}
	}
}


.pagination-wrap {
	text-align: center;
}
.pagination {
	float: none;
	display: block;
	text-align: center;
	& > li > a,
	& > li > span {
		border: solid 1px #d6d8e7;
		color: #000;
		float: none;
		padding: 12px 19px;
		font-size: 18px;
		border-radius: 3px;
		margin: 5px;
		font-family: 'Open Sans', sans-serif;
	}
	& > .active > a,
	& > .active > span,
	& > .active > a:hover,
	& > .active > span:hover,
	& > .active > a:focus,
	& > .active > span:focus {
		border-radius: 3px;
		background-color: #3a96ff;
		color: #fff;
	}
	& > li:first-child > a,
	& > li:first-child > span
	& > li:last-child > a,
	& > li:last-child > span {
		border-radius: 3px;
	}
	& > .active > a,
	& > .active > a:hover {
		border-color: #3a96ff;
	}
}

.modal {
	.table-wrap {
		margin-bottom: 40px;
	}
	.an_table {
		box-shadow: none;
		tr {
			td {
				&:first-child {
					padding-right: 0;
					padding-left: 0;
					text-align: left;
					img {
						display: inline-block;
					}
				}
			}
		}
	}
}

.image {
	&.rounded {
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
	}
}

// popup

.modal {
	&.popup {
		text-align: center;
		&:before {
			content: '';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	    margin-right: -4px;
		}
		.modal-dialog {
			display: inline-block;
			vertical-align: middle;
			width: 450px;
			text-align: left;
		}
		.modal-content {
			padding: 50px;
			background-color: #f5f9ff;
			box-shadow: 0 8px 25px 0 rgba(140, 140, 195, 0.4);
			border-radius: 5px;
		}
		.modal-header {
			padding: 0;
			margin-bottom: 15px;
			border: none;
		}
		.title {
			margin-bottom: 0;
			font-family: "geometrialight";
			font-size: 26px;
			color: #000;
		}
		.close {
			position: absolute;
			top: -24px;
			right: -24px;
			width: 50px;
  		height: 50px;
  		background-color: #f5f9ff;
			opacity: 1;
			z-index: 1;
			.icon-plus {
				&:before {
					transform: rotate(45deg);
					font-size: 24px;
					color: #3a96ff;
				}
			}
		}
		.modal-body {
			padding: 0;
		}
		.form-control {
			max-width: 350px;
			margin-bottom: 2px;
			background-color: #fff;
			border: none;
			border-radius: 0;
		}
		input[type="search"] {
			padding-left: 45px;
		}
		*::-webkit-input-placeholder {
			color: #7993b9;
			opacity: .5;
		}

		*:-moz-placeholder {
			color: #7993b9;
			opacity: .5;
		}

		*::-moz-placeholder {
			color: #7993b9;
			opacity: .5;
		}

		*:-ms-input-placeholder {
			color: #7993b9;
			opacity: .5;
		}
		.search-wrap {
			margin-bottom: 0;
			i {
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translateY(-50%);
				color: #7993b9;
				opacity: .5;
			}
		}
		.form-button-group {
			display: flex;
			justify-content: space-between;
			.btn-info,
			.btn-danger {
				min-width: 165px;
				padding: 18px 30px 18px;
				font-size: 14px;
			}
			.form-denied {
				padding: 0 33px;
				transform: translate(0);
			}
		}
	}
}

.select-list {
	position: relative;
	height: 300px;
	padding: 14px 20px;
	background-color: #fff;
	list-style: none;
	overflow: hidden;
	li {
		margin-bottom: 15px;
	}
	.an_chekbox {
		+ label {
			font-size: 16px;
			line-height: 1.88;
	  	color: #333;
			&:before {
				vertical-align: top;
				margin-top: 4px;
				margin-right: 7px;
			}
		}
	}
}

// Map

.popup {
	&#modal-map {
		.modal-dialog {
			width: 600px;
		}
	}
	&#gallery {
		.modal-dialog {
			width: 100%;
			max-width: 1150px;
			padding: 0 45px;
		}
		.modal-content {
			padding: 0;
			border-radius: 0;
			box-shadow: 0 12px 35px 0 rgba(65, 65, 103, 0.4);
		}
	}
}

.map {
	width: 500px;
	height: 350px;
}

// fancybox

.fancybox-close {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #f5f9ff;
	color: #3a96ff;
	text-align: center;
	font-size: 26px;
	&:hover {
		text-decoration: none;
		color: #3a96ff;
	}
	&:before {
		content: "\e800";
		display: block;
		font-family: "fontello";
		transform: rotate(45deg);
	}
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 12px 35px 0 rgba(65, 65, 103, 0.4);
}

// gallery

.gallery-main-wrap {
	position: relative;
	.btn-square {
		position: absolute;
		right: -40px;
		bottom: 20px;
		padding: 18px 30px 18px;
		border-radius: 5px;
		.icon-arrow-right {
			font-size: 10px;
			&:before {
				vertical-align: top;
				margin-top: 7px;
			}
		}
	}
}

.gallery-main {
	margin-bottom: 0;
	li {
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}

.gallery-thumb {
	font-size: 0;
	list-style: none;
	li {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 140px;
		position: relative;
		&.slick-current {
			&:before {
				display: none;
			}
		}
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(#1d202e, .5);
		}
		img {
			width: 100%;
		}
	}
}
