.news_list_title{
  margin-top: 40px;
}
.news_list{
  list-style: none;
  position: relative;
  margin-bottom: 30px;
  &:before{
    content: "";
    display: block;
    width: 2px;
    background-color: #eaf2ff;
    height: 100%;
    position: absolute;
    left: -24px;
    top: 10px;
    z-index: 2;
  }
}
  .news_list-item{
    color: #333;
    line-height: 26px;
    position: relative;
    &:before{
      content: "";
      display: block;
      width: 11px;
      height: 11px;
      background-color: #44b0ff;
      border: 3px solid #eaf2ff;
      position: absolute;
      border-radius: 50%;
      left: -29px;
      top: 9px;
      z-index: 3;
    }
    + .news_list-item{
      margin-top: 40px;
    }
  }
  .news_list-item_title{
    margin-bottom: 5px;
  }
  .news_list-item_date{
    font-weight: 600;
    font-size: 13px;
    color: #bbb;
  }
