/* pagination */
.pagination {
	float: right;
	margin: 0;
}
.pagination-arrow {
	font-size: 0.8em;
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	top: 0;
	color: #d0d3db;
	@extend .transition02s;
	&.prev {
		margin-right: 10px;
	}
	&.next {
		margin-left: 10px;
	}
	&:hover,
	&:focus,
	&:active {
		color: #3a96ff !important;
		background-color: #E8F2FE;
		text-decoration: none;
	}
	&:visited {
		color: #d0d3db;
	}
}
.pagination-input {
	width: 40px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #d6d8e7;
	padding: 6px 5px;
	text-align: center;
}
@media screen and (max-width: 1199px) {
  .pagination-arrow {
    font-size: 13px;
    line-height: 14px;
    padding: 18px 20px;
    background-color: #fff;
    color: #3a96ff !important;
    display: block;
	float: left;
    &.prev {
      margin-right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.next {
      margin-left: -3px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:hover {
      color: #fff !important;
      background-color: #44B0FF;
    }
  }
	.an_table-control_panel {
		.pagination-arrow {
			border-left: 1px solid #e2e6fb;
			border-radius: 0;
		}
	}
}
/* /pagination */
.an_table-control_panel {
	background-color: #fff;
	padding: 10px 20px;
	color: #4d4d4d;
	line-height: 30px;
	box-shadow: 0 12px 35px 0 rgba(157, 158, 218, 0.2);
	font: 14px "Open Sans", sans-serif;
	margin: 0 0 35px 0;
	display: flex;
	align-items: center;
}
.an_table-control_panel_rows_num {
	float: left;
	display: flex;
	flex: 1;
}
.an_table-control_panel_rows_num_show {
	float: left;
	margin-right: 30px;
	.icon-list-ic {
		margin-right: 5px;
	}
	+ span {
		float: left;
	}
}
.an_table-control_panel_rows_num_select {
	float: left;
	margin-left: 10px;
	width: auto;
	&.open {

	}
	.an_filter-select {
		padding: 0;
		color: #4d4d4d;
		display: inline-block;
		font-weight: normal;
		width: 65px;
		&:hover,
		&:active,
		&:focus {
			background: transparent;
		}
		.caret {
			border-color: #a1a4ae transparent;
		}
	}
	.an_filter-dropdown {
		bottom: 100%;
		left: 0;
		top: auto;
		margin-top: 0;
		width: 64px;
		box-shadow: 0 -12px 25px 0 rgba(147, 147, 211, 0.3);
		&.top {
				border-radius: 5px 5px 0 0
		}
		input[type="radio"] {
			&:checked {
				& + label {
					background: #f3f9ff;
					color: #3a96ff;
				}
			}
		}
		label {
			padding: 0 5px;
			text-align: center;
			&:first-child,
			&:last-child {
				padding: 0 5px;
			}
			&:hover {
				background: #f3f9ff;
			}
		}
		a {
			display: block;
			padding: 5px;
			padding-left: 18px;
			font-size: 14px;
			font-weight: 600;
			&:hover {
				background: #f3f9ff;
				color: #3a96ff;
			}
		}
	}
}
@media screen and (max-width: 1365px) {
	.an_table-control_panel {
		padding: 0 0 0 20px;
		line-height: 48px;
	}
	.an_table-control_panel_rows_num_select {
		.an_filter-select {
			background-color: transparent;
			font-weight: 400;
			color: #434343;
		}
	}
}
