.an_table {
	width: 100%;
	// table-layout: fixed;
	box-shadow: 0 12px 35px 0 rgba(157, 158, 218, 0.2);
	margin-bottom: 12px;
	tbody {
		tr {
			cursor: pointer;
			&:hover {
				background: #F3F9FF;
			}
		}
	}
	tr {
		background-color: #fff;
		td,
		th {
			vertical-align: middle;
			box-sizing: content-box;
		}
		td {
			padding: 5px 20px;
		}
		th {
			padding: 15px 20px;
			font-weight: normal;
		}
		&.search-row {
			position: relative;
			background: #e4e8f4;
			&:hover {
				background-color: #e4e8f4;
			}
			td {
				border-width: 5px 0;
				border-style: solid;
				border-color: #f5f9ff;
				padding: 0;
			}
			.form-control {
				width: 100%;
				border: none;
				height: 30px;
				line-height: 30px;
				background-color: #e4e8f4;
				padding: 5px 10px;
				margin-bottom: 0;
				border-radius: 0;
			}
		}
	}
	.rounded {
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
	}
}
.an_table-search {
	background-color: #edf2fa;
	padding: 5px !important;
	position: relative;
}
.an_table-search_btn {
	// position: absolute;
	margin-left: 10px;
	// height: calc(100% - 10px);
	// top: 5px;
	color: #ccc;
	background-color: transparent;
	border: none;
	font-size: 15px;
	line-height: 1em;
}
@media (max-width: 1365px) {
	.an_table {
		overflow: hidden;
		display: block;
		tr {
			td,
			th {
				font-size: 13px;
				line-height: 18px;
				color: #000;
				padding: 5px;
				&:first-child {
					padding: 0 5px 0 10px;
				}
				&:last-child {
					padding: 0 10px 0 5px;
				}
			}
			td {
				&.image {
					img {
						width: 50px;
						height: auto;
					}
				}
			}
		}
	}
}
@media (max-width: 1119px) {
	.hidden-tablet {
		display: none;
	}
}
// @media (min-width: 1200px) and (max-width: 1919px) {
	// .hidden-notebook {
		// display: none;
	// }
// }
@media(min-width: 1200px) {
	.hidden-desktop {
		display: none;
	}
}

.modal-export {
	.select-list {
		height: auto;
	}
}

.employees,
.customer,
.department {
	@media (min-width: 1590px) {
		.container-fluid {
			width: 1560px
		}
	}
	@media (max-width: 1365px) {
		.an_table {
			tr {
				&:not(.search-row) {
					td {
						padding: 15px 10px 10px;
					}
				}
				td {
					&.image {
						img {
							width: 32px;
							height: 32px;
						}
					}
				}
				th {
					padding: 12px 5px 10px;
				}
				td,
				th {
					&:first-child,
					&:last-child {
						padding: 15px 10px 10px;
					}
				}
			}
		}
	}
}
