.modal {
	.nav-tabs {
		margin: 0 -40px 0 -50px;
		padding: 0 40px 0 50px;
		background: #f5f9ff;
		border: none;
		position: relative;
		& > li.active > a,
		& > li.active > a:hover,
		& > li.active > a:focus,
		& > li > a:focus {
			background: none;
			border-radius: 0;
		}
		& > li {
			& > a {
				font-size: 16px;
				color: #333333;
				font-family: "geometriabold";
				text-decoration: none;
				padding: 17px 0;
				margin: 0;
				border-width: 0 0 3px 0;
				border-color: transparent;
				border-style: solid;
			}
		}
		& > li.active > a,
		& > li.active > a:hover,
		& > li.active > a:focus {
			color: #333333;
			border-width: 0 0 3px 0;
			border-color: #3a96ff;
		}
		& > li > a:hover {
			border-color: #3a96ff;
			background-color: transparent;
		}
		.link {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: none;
			a {
				color: #44b0ff;
				font-family: "geometriaregular";
				&:hover {
					border-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}
	@media (min-width: 768px) {
		.nav-tabs {
			& > li {
				&:first-child {
					a {
						margin-left: 0;
					}
				}
				a {
					margin: 0 25px;
				}
			}
		}
	}
}
.tab-pane {
	padding-top: 40px;
}

.nav-btns {
	padding-bottom: 30px;
	border: none;
	& > li {
		&.active > a,
		&.active > a:hover,
		&.active > a:focus, {
			background-color: #44b0ff;
			color: #fff;
		}
		&.active > a,
		&.active > a:hover,
		&.active > a:focus {
			border: none;
		}
		& > a {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.29;
			color: #000000;
			background: transpapent;
			border: none;
			border-radius: 5px;
			padding: 5px 10px;
			margin: 0 10px;
			&:hover,
			&:focus {
				background: #e6eefa;
			}
		}
	}
}